*~
.deps
Makefile.in
Makefile
aclocal.m4
autom4te.cache
*.o
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1
INSTALL
*-ginterface.[ch]
*.pyc
*-bindings.h
marshals.[ch]
intltool-*
mkinstalldirs
*.gmo
po/Makefile*
po/POTFILES
po/stamp-it
data/bisho.desktop
data/bisho.schemas
po/.intltool-merge-cache
src/bisho
src/bisho-url-callback
