*~
.deps
.libs
Makefile.in
Makefile
aclocal.m4
autom4te.cache
*.o
*.lo
*.la
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1
INSTALL
*-ginterface.[ch]
*.pyc
*-bindings.h
marshals.[ch]
intltool-*
mkinstalldirs
*.gmo
po/Makefile*
po/POTFILES
po/stamp-it
data/bisho.desktop
data/bisho.schemas
po/.intltool-merge-cache
src/bisho
src/libbisho.la
m4/lt*.m4
m4/libtool.m4
m4/intltool.m4
libtool
ltmain.sh
bisho.pc
